.parentdiv {
    .sidebardiv{
     .sidebarmain {
       background-color: #ed6f6f;
       .nmbr1{
         .nmbronehead{
           font-family: 'Poppins';
           font-style: normal;
           font-weight: 700;
           font-size: 30px;
           line-height: 40px;
           letter-spacing: -0.011em;
           color: #FFFFFF;
           padding-top: 25px;
         }
       .nmbrone{
         display: flex;
         justify-content: center;
         margin: 30px;
         
         .nmbroneimg{
           align-items: center;
           margin: 5px;
           width: 21px;
           height: 21px;
         }
         .nmbroneheadpamela{
           font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   
         }
       }
   
      
       }
       .nmbr2{
       
         background: rgba(255, 255, 255, 0.12);
         .nmbrtwohead{
           font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   backdrop-filter: blur(4px);
   padding: 15px;
   }
   } 
   .nmbr3{
     background: rgba(255, 255, 255, 0.12);
     .nmbrthgreepara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
     }
   }
   .nmbr4{
    background: rgba(0, 0, 0, 0.23);
     .nmbrfourpara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
     }
   }
   .nmbr5{
     background: rgba(255, 255, 255, 0.12);
     .nmbrfivepara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
     }
   }
   .nmbr6{
     background: rgba(255, 255, 255, 0.12);
   .mnbrsixpara{
     font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
   }
   }
   .nmbr7{
     background: rgba(255, 255, 255, 0.12);
   .nmbrsevenpara{
     font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
   }
   }
   .nmbr8{
    padding-bottom: 70px;
     .mnbreightheading{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 45px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   margin-top: 20px;
   padding: 10px;
     }
     .eightpara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   color: #FFFFFF;
   padding: 15px;
   background: rgba(255, 255, 255, 0.12);
     }
   }
   }
   .bheaddiv{
     .bonushead{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: -0.02em;
      color: #000000;
      text-align: left;
      margin-left: 70px;
     }
     .bpara{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      display: flex;
      align-items: center;
      color: #000000;
      margin-left: 70px;
     }
   }
   .greenrow {
    background: #54CD7D;
    border-radius: 2px;
    align-items: center;
    margin: 30px;
    .greenpara{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
    }
    .greendigit{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
color: #FFFFFF;
    }
    .greentik{
      width: 28px;
      height: 16px;
    }
   }
   }

}
   