.parentdiv {
    .sidebardiv{
     .sidebarmain {
       background-color: #ed6f6f;
       .nmbr1{
         .nmbronehead{
           font-family: 'Poppins';
           font-style: normal;
           font-weight: 700;
           font-size: 30px;
           line-height: 40px;
           letter-spacing: -0.011em;
           color: #FFFFFF;
           padding-top: 25px;
         }
       .nmbrone{
         display: flex;
         justify-content: center;
         margin: 30px;
         
         .nmbroneimg{
           align-items: center;
           margin: 5px;
           width: 21px;
           height: 21px;
         }
         .nmbroneheadpamela{
           font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   
         }
       }
   
      
       }
       .nmbr2{
       
         background: rgba(255, 255, 255, 0.12);
         .nmbrtwohead{
           font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   backdrop-filter: blur(4px);
   padding: 15px;
   }
   } 
   .nmbr3{
     background: rgba(255, 255, 255, 0.12);
     .nmbrthgreepara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
     }
   }
   .nmbr4{
    background: rgba(0, 0, 0, 0.23);
     .nmbrfourpara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
     }
   }
   .nmbr5{
     background: rgba(255, 255, 255, 0.12);
     .nmbrfivepara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
     }
   }
   .nmbr6{
     background: rgba(255, 255, 255, 0.12);
   .mnbrsixpara{
     font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
   }
   }
   .nmbr7{
     background: rgba(255, 255, 255, 0.12);
   .nmbrsevenpara{
     font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 23.1689px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   padding: 15px;
   }
   }
   .nmbr8{
    padding-bottom: 70px;
     .mnbreightheading{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 45px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   margin-top: 20px;
   padding: 10px;
     }
     .eightpara{
       font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   color: #FFFFFF;
   padding: 15px;
   background: rgba(255, 255, 255, 0.12);
     }
   }
   }
   }
 .maindiv{
     .rooo{
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 60px;
        gap: 30px;
     }
     .entrydiv{
        width: 200px;
        height: 188.24px;
        background: #54CD7D;
        border-radius: 8px;
        display: flex;
align-items: center;
justify-content: center;
        .entrypara{
            font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
        }
     }
     .lunchdiv{
        width: 200px;
        height: 188.24px;
        background: #000000;
        border-radius: 8px;
        display: flex;
align-items: center;
justify-content: center;
        .lunch{
            font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #0091D1;
        }
     }
     .depdiv{
        width: 200px;
        height: 188.24px;
        background: #C05151;
        border-radius: 8px;
        display: flex;
align-items: center;
justify-content: center;
        .deppara{
            font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
        }
     }
.forediv{
  display: grid;

.divsix{
    background: rgba(237, 111, 111, 0.5);
border-radius: 8px;
height: 50px;
display: grid;
align-items: center;
margin-top: 17px;
    .sixfigr{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.011em;
color: #000000;
transform: rotate(0.32deg);
    }
    .sixdate{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.011em;
color: #000000;
transform: rotate(0.32deg);
align-items: center;
display: contents;
    }
    .sixpara{
        font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.011em;
text-decoration-line: underline;
color: #000000;
transform: rotate(0.32deg);
cursor: pointer;
    }
}
.locdiv{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
    .locimg{
        width: 343.82px;
height: 55.72px
    }
}
}
 }
}
   